* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;

}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex
}

.nav-links li {
    margin: 0 15px
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Menu bruger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: 0.4s;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #333;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .nav-links.show {
        display: flex;
    }
}

/* Page d'accueil */
#Accueil {
    display: flex;
    justify-content: center;
    margin: 30px;
}


/* Presentation */

#Presentation {
    border: 1px solid red;
    width: 70%;
    text-align: center;
}

/* Nos services */

#Nos_services {
    border: 1px solid blue;
    padding: 30px;
}

#Nos_services img {
    height: 125px;
    width: 240px;
    border-radius: 5%;
}

.Service_card {
    background-color: #ffffffba;
    width: 240px;
    border-radius: 5%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 5px 5px 10px ;
}

.Service_card:hover {
    background-color: #90a484;
    box-shadow: 5px 5px 10px white;
}

.Head_card {
    border: 1px solid red;
}

.Body_card {
    border: 1px solid blue;
}
.Body_card button {
    width: 100px;
}


