* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;

}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex
}

.nav-links li {
    margin: 0 15px
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Menu bruger */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: 0.4s;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #333;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .nav-links.show {
        display: flex;
    }
}

/* Bannière */
#banniere {
    height: 400px;
    background-image:url(./assets/images/youngsters-249963_1280.jpg);
    object-fit: contain;
}

/* Statistique */
h1 {
    color: black;
    text-align: center;
}

